.center{
    text-align: center;
    padding: 14px;
}

.input-form{
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    border: 1px dashed #c0c2c7;
    .submit-btn-wrapper{
        margin-top: 20px;
    }
}

.result-section{
    width: 50%;
    margin-left: 25%;
}

.num-list-wrapper{
    padding: 20px;
}

.invoice-num{
    padding: 6px;
}